%h2 Устройства

%table.table.table-hover  
  %tr
    %th APID
    %th Адрес
    %th Зарегистрирован
  - @devices.each do |device|
    %tr
      %td= device.token
      %td= device.address.address unless device.address.nil?
      %td= Russian::strftime(device.created_at, "%d %B, %Y")