%h2 Оповещения

%table.table.table-hover  
  - @notifications.each do |notification|
    = render 'item', notification: notification
= form_for :notification, url: notify_path, method: 'post', html: {class: 'form-horizontal'} do |f|
  .control-group
    %label.control-label Текст оповещения
    .controls
      = f.text_area :body, rows: 3, class: 'input-xxlarge'
  .control-group
    .controls
      = f.submit 'Послать оповещение', class: 'btn'
